APP_PORT=8080
PRINTER_HOST=192.168.1.100
PRINTER_SERIAL=YOUR_PRINTER_SERIAL
PRINTER_ACCESS_CODE=YOUR_ACCESS_CODE
PRINTER_DEVICE_TYPE=unknown
PRINTER_LOCAL_MQTT=true
PRINTER_ENABLE_CAMERA=true
PRINTER_DISABLE_SSL_VERIFY=false

USER_LANGUAGE=en
FILE_CACHE_PATH=/data/cache
PRINT_CACHE_COUNT=1
TIMELAPSE_CACHE_COUNT=0
USAGE_HOURS=0
FORCE_IP=false

BAMBU_REGION=
BAMBU_EMAIL=
BAMBU_USERNAME=
BAMBU_AUTH_TOKEN=
